.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.signup{
  padding: 2rem 1.5rem;
  font-weight: 550;
  font-size: 1.8rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul{
  list-style-type: none;
}

.link{
    text-decoration: none;
    color: var(--color-light--2);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.ctalink{
  text-decoration: none;
  margin-left: 1.6rem;
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
